<h1>Dashboard</h1>

<%= shout_form_for(TextShout) do |f| %>
  <%= f.text_field :body, placeholder: 'shout here!', required: true %>
<% end %>

<%= shout_form_for(TextShout) do |f| %>
  <%= f.file_field :image, required: true %>
<% end %>

<%= render @shouts %>
